@import url(./base.css);

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(170, 241, 218);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > * {
    margin-bottom: 50px;
}

h1 {
    background-color: #e63946ff;
    padding: 20px;
    color: #fff;
}

button {
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #e63946ff;
    color: #fff;
    padding: 23px 50px;
    border: none;
    cursor: pointer;
    transition: all 0.1s 0s ease-in-out;
}

button:hover {
    transform: scale(1.04, 1);
    background-color: rgb(216, 10, 27);
}

button:active {
    background-color: rgb(217, 143, 149);
}

p {
    background-color: aqua;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}